
<head>
  <title>
    Welcome to {{ title }}!
</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial.scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/boostrap/4.1.3/js/bootstrap.min.js"></script>
</head>
 <body>
<div class="jumbotron text-center">
  <h1> Welcome to {{ title }}</h1>
  <p>Resize this page to see the effect</p>
</div>

<div class="Container">
  <div class="row">
  <div class="col-sm-4">
    <h3>Salsa</h3>
<a href="https:www.youtube.com/watch?v=qlo_tRiMoQU&feature=youtu.be">Titanic with a Twist :45</a>
  </div>
  <div class="col-sm-4">
    <h3>Bachata</h3>
    <a href="https:www.youtube.com/watch?v=utt_d_X9Vtk&t=0s&list=LLn_Mzgwdjj_haxFqkbzyXNw&index=2">You Curl, I curl :17</a>
  </div>
  <div class="col-sm-4">
    <h3> Zouk</h3>
    <a href="https://youtu.be/xu4G5y92JDs">Pacer(with viragino kiss)/splash into me/where you going/ gravity turn</a>
  </div>
  </div>
</div>



 </body>
